body {
  background-color: #6cb7e3;
}
.weather-app {
  background-color: #fff;
  max-width: 550px;
  margin: 55px auto;
  padding: 35px;

  box-shadow: o 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
